html {
  scroll-behavior: smooth;
}
body{
  background-image: url("pictures/pink_background_image.png");
}

#ball-box{
  margin-left: 21%;
}
#ball{
  transform: translate3d(0px, 0px, 0px) rotateZ(0rad);
  width: 73%;
  height: 100%;
}

