
#body{
    background-color: #2f4454;
}
#container{
    width: 100%;
    height: 100%;
}



/*
some nice colors : #2E151B
                   #DA7B93
                   #376E6f
                   #1C3334

*/