*{
  margin: 0;
  font-family: Arial;
  padding: 0;
}
ul {
  padding-left: 30px;
}

html {
  scroll-behavior: smooth;
}
#container-of-divs{
  display: table;
}
#opener{
  background-image: url("pictures/stars_background_image.png");
  background-color: rgb(91, 92, 193);
  height: auto;
}
#opener, #main{
  padding-bottom: 0;
  display: table-row;
  height: auto;
}
#ball-box{
  text-align: center;
  position: relative;
  width: auto;
  height: auto;
  z-index: 1;
}
#ball{
  transform: translate3d(0px, 0px, 0px) rotateZ(0rad);
  width: 65%;
  height: auto;
}

#svg-box{
  width: auto;
  position: relative;
  height: auto;
  z-index: 3;
}
.path{
  stroke-dasharray: 5;
  animation: dash 50s linear infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}


#main{
  z-index: 2;
  background-color: #120458;
  height: auto;
  color: #dd088f;
  letter-spacing: 0.04em;
}
#resume{
  width: 65%;
  padding-left: 17.5%;
}
#name{
  text-align: center;
}
.tab { margin-left: 40px; }
tab:before
    {
        content: "\00a0\00a0\00a0\00a0";
    }
.edge{
  text-align: right;
}
.left{
  text-align:left;
}
.mid{
  padding-left: 22%;
  padding-right: 25%;
}
.right{
  float:right;
}